# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and temporary files
*.log
.DS_Store

# Codespaces-specific
*.code-workspace

# YOLOv8 temporary files
runs/
yolov8n.pt

# MobileNet training outputs
models/mobilenet/*.h5.bak

# Video files
data/videos/*.mp4
